# Environment variables declared in this file are automatically made available to Prisma and Next.js.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# PostgreSQL Database URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/matchday_hub?schema=public"

# Redis Cache / PubSub
REDIS_URL="redis://localhost:6379"

# NextAuth / App Secret
NEXTAUTH_SECRET="your-super-secret-jwt-key-matchday-hub-2026"
NEXTAUTH_URL="http://localhost:3000"
